<div class="page" style="width: 100vw; margin-top: 9vh">
    <div class="container">
        <div class="banner" >
            <img style="width: 110vw" src="assets/tkts/tkts-mockup.jpg"/>
        </div>
        <div class="full-width title">
            <h1>Tkts App Redesign</h1>
            <div class="mobile-hide" style="width: 70%; background-color: #8be8cb; height: 2px; margin-left: 15%; margin-top: 3vh; margin-bottom: 1vh;"></div>
            <h2 style="font-size: 1em">A responsive website advertising the imagined music <br> festival, Archipelago. Hosted in Hawaii, USA.
            </h2>
        </div>
        <div class="content">
            <div class="full-width">
                <div class="section-title">
                    <h1>CHALLENGE</h1>
                </div>
                <p>
                    The iconic Tkts booth in the center of Times Square offers tourists, locals, and theater-lovers the opportunity to purchase discounted tickets to shows in New York City. Purchasing same-day Broadway and Off-Broadway tickets at lower prices helps make performances more accessible to the public, increases viewership at shows, and is an exciting way to spend an afternoon or evening in NYC. 
                    <br>
                    We want to digitize the Tkts experience. The unpredictability of the day’s available tickets, the wait in line, and finally getting to see a Broadway show at an affordable price combine to define the Tkts experience.

                </p>
                <br>
            </div>
            <div class="full-width darker">
                <div class="section-title">
                    <h1>BACKGROUND RESEARCH</h1>
                </div>

                <div class="right-image">
                    <br>
                    <div class="text">
                        <div class="section-title">
                            <h2>USER NEEDS</h2>
                        </div>
                        <p>
                            Users of this app are currently unhappy that it does not offer the ability to search tickets, or see what shows are available. Reviews on the App Store confirm that the intention and purpose of the app needs to be reconsidered.
                        </p>
                        <br>
                        <div class="image-div thirds-image">
                            <img src="assets/tkts/review7-edited.png">
                            <img src="assets/tkts/review6-edited.png">
                            <img src="assets/tkts/review5-edited.png">
                        </div>

                        <p>
                            The following user needs were defined:
                        </p>
                        <ol>
                            <li>Purchase tickets in the app</li>
                            <li>View an updated list of available tickets</li>
                            <li>View and display purchased tickets within the app</li>
                            <li>Browse shows by genre and location</li>
                            <li>Get accurate directions to theaters</li>
                        </ol>
                    
                        <br>
                        <div class="section-title">
                            <h2>USER PERSONAS</h2>
                        </div>
                        <p>The following personas were created to help develop a better understanding of our users: </p>
                        <br>
                        <div class="image-div full-image" style="justify-content: space-between;">
                            <img class="rotate" src="assets/tkts/personas/persona-1.png">
                            <img class="rotate" src="assets/tkts/personas/persona-2.png">
                            <img class="rotate" src="assets/tkts/personas/persona-3.png">
                        </div>
                        <br>
                        <div class="section-title">
                            <h2>COMPETITOR ANALYSIS</h2>
                        </div>
                        <p>A competitor analysis was also conducted to determine what gives the Tkts App a competitive 
                            advantage and to define any features that may be missing from the app. <br> 
                            For more details, view the design blog page <a href="https://kachmarmidsp22.wordpress.com/competitor-analysis/">here</a>.
                        </p>
                        <br>
                        <div class="section-title">
                            <h2>SUCCESS METRICS</h2>
                        </div>
                        <p>Based on user research and competitor analysis, the following criteria will be used to assess the success of the app redesign:
                        </p>
                        <ol>
                            <li>The app will be used to sell same-day tickets.</li>
                            <li>Users will be able to join a virtual queue to purchase tickets.</li>
                            <li>Users will be notified as tickets sell out for specific shows as they wait in the queue.</li>
                            <li>Users can login to an account to save purchase information.</li>
                            <li>Users can access digital tickets in the app.</li>
                        </ol>
                        <br>
                        </div>
                </div>
            </div>
            <div class="full-width">
                <div class="section-title">
                    <h1>IDEATION</h1>
                </div>

                <div class="right-image">
                    <div class="text">
                        <div class="image-div">
                            <img class="rotate" src="assets/tkts/tkts-IA.png">
                        </div>
                        <div class="section-title">
                            <h2>INFORMATION ARCHITECTURE</h2>
                        </div>

                        <p>When creating the information architecture for this app, 
                            I had to consider how the different elements of the site were related 
                            and how they fit in the overall structure of the application.</p>
                        <br>
                
                        
                        <br>
                        <div class="section-title">
                            <h2>USER FLOWS</h2>
                        </div>
                        <p>
                            Once the Information Architecture was created, I was able to construct user flows to demonstrate 
                            how and why a user would navigate through the application. In creating these user flows, 
                            it was important to include not only the different elements users would be interacting with, 
                            but also the questions and choices they would make that would lead them to different parts of the app. 
                            Each user flow began with a goal and demonstrated how the user would navigate through the application to reach their goal.
                        </p>
                        <br>
                        <div class="image-div thirds-image">
                            <img src="assets/tkts/user-flows/flow-1.png">
                            <img src="assets/tkts/user-flows/flow-2.png">
                            <img src="assets/tkts/user-flows/flow-3.png">
                            
                        </div>
                        <br>


                        <div class="image-div half-image">
                            <img src="assets/tkts/user-flows/flow-4.webp">
                            <img src="assets/tkts/user-flows/flow-5.webp">

                        </div>

                        <br>
                </div>
                </div>
            </div>
            <div class="full-width darker">
                <div class="section-title">
                    <h1>WIREFRAMES & USER TESTING</h1>
                </div>

                <div class="right-image">
                    <br>
                    <div class="text">
                        <div class="section-title">
                            <h2>USER NEEDS</h2>
                        </div>
                        <p>
                            The next step was to begin designing the layout of the app. I began by sketching, then moved on to creating digital wireframes.
                        </p>
                        <h3>Sketches</h3>
                        <div class="image-div half-image" style="justify-content: space-between;">
                            <img class="rotate" src="assets/tkts/sketches-1.webp">
                            <img class="rotate" src="assets/tkts/sketches-2.webp">
                        </div>
                       
                        <h3>Wireframes</h3>
                        <div class="image-div full-image" style="justify-content: space-between;">
                            <img src="assets/tkts/wireframes.png">
                        </div>
                    
                        <br>

                       <p>Users testing of these wireframes revealed that the ticket purchasing of the app was straightforward to use.
                           It also showed that it would be intuitive for ticket purchases to route to the wallet, to show the active tickets.
                           Changes were integrated into the final app design.
                       </p>
                    </div>
                </div>
            </div>

            <div class="full-width darker">
                <div class="section-title">
                    <h1>FINAL PROTOTYPE</h1>
                </div>

                <div class="right-image">
                    <br>
                    <div class="text">
                        <div class="section-title">
                            <h2>FINAL DESIGNS</h2>
                        </div>
                        <p>
                            A component library was created to provide uniformity across the app and its frequently used elements.<br><br>
                            The final design is shown below.
                        </p>

                        <div class="image-div full-image" style="margin-bottom: 3vh">
                            <img class="rotate" src="assets/tkts/app-screens.png">
                        </div>
                        
                       <br>
                        
                        <div class="section-title">
                            <br>
                            <div style="display: flex; float: right; margin-top: 3vh;">
                                <iframe width="331" height="717" src="https://xd.adobe.com/embed/e205942a-f59d-438c-beee-90524d2ee157-b756/?fullscreen" frameborder="5" allowfullscreen></iframe>
                            </div>
                            <h2 style="margin-top: 3vh;">INTERACTIVE PROTOTYPE</h2>
                        `   </div>
                        <p>Walk through the app yourself! <br> Click on Wicked to walk through the ticket purchase flow.
                        </p>
                        <button class="button-large" style="width: 100%" onclick=" window.open('https://xd.adobe.com/embed/e205942a-f59d-438c-beee-90524d2ee157-b756/?fullscreen','_blank')">
                            <h2>XD Prototype</h2>
                        </button>
                        <button class="button-secondary-large" style="width: 100%" onclick=" window.open('https://kachmarmidsp22.wordpress.com/','_blank')">
                            <h2>Design Process Blog</h2>
                        </button>
                    </div>
                </div>
            </div>
            


          

                    
            
    
    </div>
</div>
