<div class="page" style="width: 100vw; margin-top: 9vh">
    <div class="container">
        <div class="banner">
            <img src="assets/longform-article/longform-mockup-final.png"/>
        </div>
        <div class="full-width title">
            <h1>Longform Article</h1>
            <div class="mobile-hide" style="width: 70%; background-color: #8be8cb; height: 2px; margin-left: 15%; margin-top: 1vh; margin-bottom: 1vh;"></div>
            <h2 style="font-size: 1em">Creating a responsive web design for the longform article: <br> "When Awareness is Not Enough"
            </h2>
        </div>
        <div class="content">
            <div class="full-width">
                <div class="section-title">
                    <h1>CHALLENGE</h1>
                </div>
                <p>
                    The article focuses on how simply being aware of the problem of 
                    homelessness is not enough to manage the issue. It also discusses 
                    how homelessness is situational, and the factors leading up to housing 
                    insecurity differ between individuals. It was important to clearly convey 
                    that homelessness is an issue that impacts individuals in unique ways.
                </p>
                <br>
            </div>
            <div class="full-width darker">
                <div class="section-title">
                    <h1>IDEATION & RESEARCH</h1>
                </div>

                <div class="right-image">
                    <br>
                    <div class="text">
                        <div class="section-title">
                            <h2>COLOR PALETTE</h2>
                        </div>
                        <div class="image-div">
                            <img class="rotate" src="assets/longform-article/longform-color-palette.png">
                        </div>
                        <p>
                            The article’s focus on the individual stories of 
                            people experiencing homelessness illustrated that homelessness 
                            is a very complex issue. This led me to conceptualize a grayscale 
                            design with a single color, to show that while the causes and 
                            solutions to issue may seem obvious (black and white) on the 
                            surface, there are many different underlying factors (shades of gray). 
                            The article seeks to highlight the individuals behind homelessness, 
                            illustrated through the use of color.
                        </p>
                        
                        <br>
                        <div class="section-title">
                            <h2>TYPE STUDIES</h2>
                        </div>
                        <p>
                            When choosing typefaces, I needed typography that was 
                            web-friendly and also evoked the seriousness of the article. 
                            For the headings, I wanted a modern take on a classic 
                            typeface to show that the homelessness is persistent, serious, 
                            and still relevant. I looked at both serif and and sans-serif options, and created 
                            type studies to help me compare typefaces. And choose the most relevant and suitable option.
                        </p>
                        <br>
                        <div class="image-div full-image">
                            <img class="rotate" src="assets/longform-article/type-studies.jpg">
                        </div>
                    
                        <br>
                        <div class="section-title">
                            <h2>LAYOUT</h2>
                        </div>
                        <p>
                            When constructing the overall layout of the article, I had to consider a web page structure 
                            that was engaging, highlighted the key points of the article, and encouraged sharing of the 
                            information with other potential users. 
                            <br><br>
                            I began by analyzing existing news and information sharing websites, and then moved on 
                            to craft five different wireframes.
                        </p>
                        <br>
                        <div class="image-div full-image">
                            <img src="assets/longform-article/longForm_gridStudies.png">
                        </div>
                        <br>
                </div>
                </div>
            </div>
            <div class="full-width">
                <div class="section-title">
                    <h1>COMPOSITIONS</h1>
                </div>

                <div class="right-image">
                    <div class="text">
                        <p>
                            The following are my initial three compositions for the desktop web page. 
                        </p>
                        <br>
                        <div class="image-div full-image">
                            <img src="assets/longform-article/longForm_designVariations.png">
                        </div>
                        <p>
                            I decided to move forward with my first composition for several reasons. 
                            First, the lighter background made the text more legible. Second, the color 
                            and typography combined helped convey both the seriousness of the issue while 
                            also highlighting a positive outlook for the future that can stem from gaining 
                            a deeper understanding of each other’s personal experiences. 
                        </p>
                        <br>
                </div>
                </div>
            </div>
            <div class="full-width darker">
                    <div class="section-title">
                            <h1>Final Result</h1>
                    </div>
                            <p>
                                When developing the final composition, I also had to make sure it was responsive 
                                on mobile browsers. So, I went through the website and visualized how the sections 
                                of the website would resize and stack relative to one another to fit on the screen 
                                while maintaining the same reading experience.
                            </p>
                            <div class="iframe-class" style="display: none;">
                                <iframe width="100%" height="864"
                                    src="https://xd.adobe.com/embed/f0a91557-559b-4514-ab72-9f842b90034b-a5fa/?fullscreen" 
                                    frameborder="0" allowfullscreen></iframe>
                            </div>

                            <div class="button-box">
                                    <button class="button-large" onclick=" window.open('https://xd.adobe.com/view/c5c95c43-3eed-4ef0-9e4b-1412554a1e6b-909a/','_blank')">
                                        <h2>View XD Prototype</h2>
                                    </button>
                            </div>


                            <div class="image-div multi-img" style="justify-content: space-between;">
                                <img class="thirds-width" src="assets/longform-article/mobile-final.png">
                                <img class="two-thirds-width" src="assets/longform-article/desktop-final.png">
                            </div>

                            <br>
            </div>

                    
            
    
    </div>
</div>
