<div class="page">
    <div class="container">
        <div class="banner">
            <img src="assets/mockups/freelance-mockup.png"/>
        </div>
        <div class="full-width title">
            <h1>Case Study Title</h1> 
            <h2>Description Goes Here</h2>
        </div>
        <div class="content">
            <div class="full-width">
                <div class="section-title">
                    <h1>CHALLENGE</h1>
                </div>
                <p>
                    There's some words here that are important and relevant i promise.  There's some words here that are important and relevant i promise.
                    There's some words here that are important and relevant i promise.
                    There's some words here that are important and relevant i promise. 
                </p>
            </div>
            <div class="full-width">
                <div class="section-title">
                    <h1>IDEATION</h1>
                </div>
                <div class="left-image">
                    <img src="http://cdn.cnn.com/cnnnext/dam/assets/200518114838-05-pac-man-40.jpg">
                    <div class="text">
                        <h2>DETAILS</h2>
                        <p>There's some words here that are important and relevant i promise.  There's some words here that are important and relevant i promise.
                            There's some words here that are important and relevant i promise.
                            There's some words here that are important and relevant i promise. </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="full-width">
                <div class="right-image">
                    <div class="text">
                        <h2>DETAILS</h2>
                        <p>There's some words here that are important and relevant i promise.  There's some words here that are important and relevant i promise.
                            There's some words here that are important and relevant i promise.
                            There's some words here that are important and relevant i promise. </p>
                    </div>
                    <img src="http://cdn.cnn.com/cnnnext/dam/assets/200518114838-05-pac-man-40.jpg">
                </div>
            </div>
        </div>
        
        
    </div>
</div>
