<div class="mobile-margin" style="display: flex; justify-content: center; margin-top: 35vh">
    <div class="digital mobile-margin" style="justify-content: center; width: 100vw">
        <div>
            <h1 class="left">I'm <span class="bold">Kara</span>, and I craft<br> </h1>
            <div>
                <picture>
                    <source media="(min-width: 800px)" srcset="assets/home/digital-experiences.png">
                    <img src="assets/home/digital-experiences-mobile.png" style="align-self: center; width: 60vw; height: auto !important;">
                </picture>
            </div>
            <h1 class="right">from the ground up.</h1>
    </div>
        
    </div>
</div>



