<div class="page" style="width: 100vw; margin-top: 9vh">
    <div class="container">
        <div class="banner">
            <img src="assets/microsite/microsite-mockup.png"/>
        </div>
        <div class="full-width title">
            <h1>Music Festival Website</h1>
            <div class="mobile-hide" style="width: 80%; background-color: #8be8cb; height: 2px; margin-left: 10%; margin-top: 1vh; margin-bottom: 1vh;"></div>
            <h2 style="font-size: 1em">A responsive website advertising the imagined music <br> festival, Archipelago. Hosted in Hawaii, USA.
            </h2>
        </div>
        <div class="content">
            <div class="full-width">
                <div class="section-title">
                    <h1>CHALLENGE</h1>
                </div>
                <p>
                    With a fairly open design brief, we were tasked with imagining an event 
                    inspired by a podcast. I decided to create a website for a music festival 
                    in Hawaii, named Archipelago. As a website for an elaboarte music festival 
                    hosted over a week across the Hawaiian Islands, I was challenged with creating a website
                    that mimicked the contemporary image of the artists performing while providing 
                    details about the many events and locations incorporated in the festival.
                </p>
                <br>
            </div>
            <div class="full-width darker">
                <div class="section-title">
                    <h1>IDEATION & RESEARCH</h1>
                </div>

                <div class="right-image">
                    <br>
                    <div class="text">
                        <div class="section-title">
                            <h2>INFORMATION ARCHITECTURE</h2>
                        </div>
                        <div class="image-div">
                            <img class="rotate" src="assets/microsite/microsite-IA.png">
                        </div>
                        <p>
                            I began by drafting a mind map of the site’s components and attributes. Once I had an idea of the elements that were going to be added to the website, I reorganized the site into the following IA, helping sort the content and distinguish the layout and navigation of the site.
                        </p>
                        
                        <br>
                        <div class="section-title">
                            <h2>TYPE STUDIES</h2>
                        </div>
                        <p>
                            The typography for this website demanded a modern, sans-serif typeface to reflect the popular artists performing at the festival. I spent time experimenting with playful typefaces that reflected both the modern music industry and the tropical Hawaiian setting.
                        </p>
                        <br>
                        <div class="image-div full-image">
                            <img class="rotate" style="background-color: white; padding: 9px" src="assets/microsite/Typography.png">
                        </div>
                    
                        <br>
                        <div class="section-title">
                            <h2>WIREFRAMES</h2>
                        </div>
                        <p>
                            The next step was to draft wireframes for the major internal website pages. I chose to focus specifically on the landing, featured artists, and event calendar pages.
                        </p>
                        <br>
                        <div class="image-div thirds-image">
                            <img src="assets/microsite/wireframe-home.png">
                            <img src="assets/microsite/wireframe-artists.png">
                            <img src="assets/microsite/wireframe-events.png">
                        </div>
                        <br>
                </div>
                </div>
            </div>
            <div class="full-width">
                <div class="section-title">
                    <h1>DESIGN</h1>
                </div>

                <div class="right-image">
                    <div class="text">
                        <p>
                            Once the wireframes were completed, I moved on to designing the web pages. 
                            Creating individual components in XD was important in creating a cohesive design for the final website.
                        </p>
                        <br>
                        <div class="image-div half-image">
                            <img src="assets/microsite/microsite-final/Home – 1.png">
                            <img src="assets/microsite/microsite-final/Events – 1.png">  
                        </div>
                        <div class="image-div half-image">
                            <img src="assets/microsite/microsite-final/Artists – 1.png">
                            <img src="assets/microsite/microsite-final/Map-oahu.png">  
                        </div>

                        <br>
                </div>
                </div>
            </div>
            <div class="full-width darker">
                    <div class="section-title">
                            <h1>PROTOTYPE</h1>
                    </div>
                            <p>
                                I created interactive prototypes in Adobe XD of both the mobile and desktop variatons of the app.
                            </p>

                            <div class="button-box" style="display: block; text-align: center;">
                                <button class="button-large" onclick=" window.open('https://xd.adobe.com/view/6413cbdb-cb8b-46cf-9979-a40841e6d99f-3140/?fullscreen','_blank')">
                                    <h2>View XD Prototype</h2>
                                </button>
                                <div class="image-div" style="justify-content: center; margin-left: 20vw">
                                    <video  width="320px" autoplay loop controls style="display: block;">
                                        <source src="assets/microsite/Kachmar_Karalyn_mobile_microsite.MP4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                        </div>

                            

                            <br>
            </div>

                    
            
    
    </div>
</div>
