<div class="page" style="width: 100vw; margin-top: 9vh">
    <div class="container">
        <div class="banner" style="padding-top: -100px;">
            <img src="assets/mac-redesign/mac-mockup.png"/>
        </div>
        <div class="full-width title">
            <h1>MAC Cosmetics Website Redesign</h1>
            <div class="mobile-hide" style="width: 80%; background-color: #8be8cb; height: 2px; margin-left: 10%; margin-top: 1vh; margin-bottom: 1vh;"></div>
            <h2 style="font-size: 1em">A responsive website advertising the imagined music <br> festival, Archipelago. Hosted in Hawaii, USA.
            </h2>
        </div>
        <div class="content">
            <div class="full-width">
                <div class="section-title">
                    <h1>CHALLENGE</h1>
                </div>
                <p>
                    The major challenge for this redesign project was to take the website of a well-established, existing brand, and make it more user-friendly and modern.
                    I began by exploring the existing website and social media in order to best determine how to use the assets already available to create a site that stayed true to the MAC Cosmetics brand
                    and effectively promoted their products.
                </p>
                <br>
            </div>
            <div class="full-width darker">
                <div class="section-title">
                    <h1>IDEATION & RESEARCH</h1>
                </div>

                <div class="right-image">
                    <br>
                    <div class="text">
                        <div class="section-title">
                            <h2>EXISTING WEBSITE DESIGN</h2>
                        </div>
                        
                        <p>
                            I began by exploring the existing MAC Cosmetics site, taking notes of the visual branding, 
                            elements that worked well, and those that could be improved. The video below shows the site 
                            as it was in December 2021, when this project took place.
                        </p>

                        <div class="image-div">
                            <video  width="100%" autoplay loop controls style="display: block;">
                                <source src="assets/mac-redesign/mac-site-video.mov" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        
                        <br>
                        <div class="section-title">
                            <h2>PROJECT FOCUS</h2>
                        </div>
                        <p>
                            After assessing the website, I chose to focus on the homepage and a template for internal product pages. As this was a redesign proposal, I thought these two pages were the most vital in displaying the look and feel of the direction the site could move in.
                        </p>
                        <br>
                        
                    
                        <br>
                        <div class="section-title">
                            <h2>EXISTING HOMEPAGE REVIEW</h2>
                        </div>
                        <div class="image-div">
                            <img class="rotate" src="assets/mac-redesign/mac-homepage.png">
                        </div>
                        <p>I had the following impressions of the existing homepage:</p>
                            <h3>Layout</h3>
                            <p>The layout did seem to stick to a four-column grid, which was evident in the layout of each div on the site. However, the proportions of items within each column were off, and the grid was broken quite frequently. I wanted to redesign a layout that stuck with the baseline grid in order to make each section and page seem like cohesive elements to the site, rather than standalone designs.</p>
                            <h3>Color Scheme</h3>
                            <p>Red and green are difficult choices for the screen,
                                as they are vibrant colors that are opposites 
                                on the color wheel. Although the “Hypnotizing Holiday” promotion was being run, the graphic elements overwhelmed the products and made the website unappealing to people trying to purchase makeup products.
                                <br><br>
                                MAC is also sold at department stores and seen as a generally more sophisticated and expensive brand. The colors used here take away from the brand’s overall appeal, and I wanted to bring the focus back to the high quality holdiay products being offered.</p>
                            <h3>Banner Ads</h3>
                            <p>The banner ads used in this website seemed to 
                                be piled at the top of the page, and were not separated from the main body of the site. It felt as though they were being created separately and added to the website rather than considering how they contribute to the overall design of the page. Furthermore, the products are hidden behind layers of extra graphics, taking away from the effectiveness of the advertisements.</p>
                            <h3>Menu Bar</h3>
                            <p>I thought that the menu bar was well-designed overall. However, I did not love that there were additional banner ads running across the top of the menu, which was distracting. Anchoring the menu to the top of the screen was my main goal when considering this component. </p>
                        
                        
                                <br>
                        

                                <div class="section-title">
                                    <h2>EXISTING SHOPPING PAGE REVIEW</h2>
                                </div>
                                <div class="image-div">
                                    <img class="rotate" src="assets/mac-redesign/mac-eyes.png">
                                </div>
                                <p>I had the following impressions of the internal shopping page:</p>
                                    <h3>Layout</h3>
                                    <p>I did not like the hand-writtten text that breaks the grid and describes the different eye shadows. The paint pot banner also seems out of place, especially since it is next to the full-screen banner header. The actual product descriptions are separated from the banner ad for the product and seems disconnected.</p>
                                    <h3>Typography</h3>
                                    <p>The type on the header is very hawrd to read. The white text with reduced opacity makes it very hard to see the different sections on the page. Furthermore, there is a lack of consistency between the type weights and colors in the links, headings. and buttons.</p>
                                    <h3>Advertisements</h3>
                                    <p>I wanted to focus the advertisements on the products, make the type in each section more legible, and make the product name more prominent.</p>

                        <br>
                </div>
                </div>
            </div>
            <div class="full-width">
                <div class="section-title">
                    <h1>FIRST ATTEMPT & CRITIQUES</h1>
                </div>
                <div class="section-title">
                    <h2>ATTEMPT 1</h2>
                </div>

                <div class="right-image">
                    <div class="text">
                       
                        <div class="image-div">
                            <img class="rotate" style="background-color: white; padding: 9px" src="assets/mac-redesign/home-comp-1.jpg">
                        </div>
                        <div class="section-title">
                            <h2>COMMENTS</h2>
                        </div>
                        <h3 style="margin-top: 0vh">Menu Bar</h3>
                        <p>The search bar needed larger spacing, and the bold line around the user icon in the menu was distracting.</p>
                        <h3>Hero</h3>
                        <p>The sizing and spacing of the buttons was a little off, and I decided to remove the snowflakes as they were making the overall image too busy.</p>
                        <h3>Pick A Kit</h3>
                        <p>I decided to change the arrows, as they were too big. Also, the left-aligned text in the product description disrupted the flow of each section.</p>
                        <h3>Try a Trend</h3>
                        <p>The spacing of the content at the bottom is off, and the headng for the product is incorrect.</p>
                        <br>
                    </div>
                </div>
                <br>
            </div>
            <div class="full-width darker">
                    <div class="section-title">
                            <h1>FINAL PRODUCT</h1>
                    </div>
                            <p>
                               Below you can see the updated homepage and the internal shopping page redesigns.
                            </p>
                            <div class="button-box" style="display: block; text-align: center;">
                                <button class="button-large" onclick=" window.open('https://xd.adobe.com/view/fbdceee0-275b-4d3d-bbad-5306a8d3528b-ae8f/?fullscreen','_blank')">
                                    <h2>View XD Prototype</h2>
                                </button>
                            </div>
                            <div class="right-image">
                                <div class="text">
                            <div class="section-title">
                                <h2>HOME</h2>
                            </div>
                            <div class="image-div full-image">
                                <img src="assets/mac-redesign/home-final.png">
                            </div>
                            <div class="section-title">
                                <h2>SHOPPING</h2>
                            </div>
                            <div class="image-div full-image">
                                <img src="assets/mac-redesign/shop-final.png">
                            </div>

                        </div></div>

                            

                            <br>
            </div>

                    
            
    
    </div>
</div>
