<div class="page circuit-dark" style="width: 100vw; margin-top: 9vh">
    <div class="container">
        <div class="content">
            <div class="full-width lighter-text circuit-dark">
                <div class="right-image">
                    <div class="text">
                <h1 style="font-size: 7vh; color: #8be8cb">I'm Kara. Nice to meet you!</h1>
                <div class="image-div">
                    <img style="width: 18vw" src="assets/about/photo.png">
                </div>
                
                <p>
                   
                   I am a Computer Science, B.S. and Graphic and Interactive Design, B.A. double major from Quinnipiac University.
                   <br><br>
                   After working in both hospital and research settings I realized how having technology 
                   that was difficult to use made it harder for healthcare workers to do their job. This lead me towards a 
                   career in UX/UI and software development. I spent last summer interning as a Software Engineer at 3M
                   It was here where I realized I could truly combine computer science and design, while still working on large-scale software systems.
                   <br><br>
                   When not working, I spend my time with my friends, playing with my puppy, Lucky, and teaching Spinning classes. Thank you for visiting my website,
                   which I built myself!
                   <br>
                   <button class="button-small" onclick=" window.open('https://mywebspace.quinnipiac.edu//kekachmar/kara-resume.pdf','_blank')">
                    <h2>View Resume</h2>
                </button>
                   
                </p>
                <br>
                
                
            </div>
            </div></div>
            

                    
            
    
    </div>
</div>
