<div class="page" style="width: 100vw; margin-top: 9vh">
    <div class="container">
        <div class="banner">
            <img style="margin-top: 1vh;"src="assets/budget-buddy/budget-buddy.png"/>
        </div>
        <div class="full-width title" style="background-color: white;">
            <h1>Budget Buddy</h1>
            <div class="mobile-hide" style="width: 70%; background-color: #8be8cb; height: 2px; margin-left: 15%; margin-top: 1vh; margin-bottom: 1vh;"></div>
            <h2 style="font-size: 1em; width: 70%; margin-left: 15%;">A gamified web application for helping users manage their spending. <br>Users track spending, record income, recieve suggestions to help them stick to a budget, and earn rewards.
            </h2>
        </div>
        <div class="content">
            <div class="full-width">
                <div class="section-title">
                    <h1>CHALLENGE</h1>
                </div>
                <p>
                    Budget Buddy was created and developed by myself and two other computer science students at Quinnipiac University. Built from the ground up, this web application uses a three-tier architecture to manage data, facilitate challenges, make recommendations, and help users manage their budget.
                    <br>
                    The development process was split up into several components: </p>
                    <ul>
                        <li>Vision Statement</li>
                        <li>System Requirements</li>
                        <li>System Design</li>
                        <li>8 Scrum Sprints</li>
                        <li>Final Report</li>
                    </ul>

                
                <br>
            </div>
            <div class="full-width darker">
                <div class="section-title">
                    <h1>PRE-DEVELOPMENT</h1>
                </div>

                <div class="right-image">
                    <div class="text">
                        <div class="section-title">
                            <h2>VISION</h2>
                        </div>
                        <p>
                           We spent time drafting our ideas and creating our "vision" for what Budget Buddy would be. <br><br>
                           We sought to build an application that reduced debt, incentivized staying up-to-date with personal finances, and was fun and engaging for users.<br><br>
                        </p>    
                        <div class="section-title">
                            <h2>SYSTEM REQUIREMENTS & DESIGN</h2>
                        </div>
                        <p>
                            We organized our system requirements into different categories: the technology stack, user interface, and system features.
                         </p>  
                         <br>
                         <div class="image-div">
                            <img src="assets/budget-buddy/system-architecture.png">
                        </div>
                         <h3 style="margin-top: 0;">Technology Stack</h3>
                         <p>Our tech stack utilizes a 3-tier architecture.<br><br> The client was built using the frontend framework, Angular, our server uses a 
                             Python Django framework, which communicates with our Postgre SQL database. <br><br> The client and server communicate via HTTP Requests using RESTFUL APIs</p>
                         <h3>User Interface</h3>
                         <p>The inital UI design was drafted in Adobe XD.<br><br> While the designs did not go through an extensive 
                             critique process, as the focus was on site development, we as a team did our best to follow UX best practices.</p>

                        <div class="image-div thirds-image">
                           <img src="assets/budget-buddy/budget-buddy-ui/Login Page.png">
                           <img src="assets/budget-buddy/budget-buddy-ui/Home.png">
                           <img src="assets/budget-buddy/budget-buddy-ui/Competitions.png">
                        </div>
                        <div class="image-div thirds-image">
                            <img src="assets/budget-buddy/budget-buddy-ui/Rewards.png">
                            <img src="assets/budget-buddy/budget-buddy-ui/Analytics.png">
                            <img src="assets/budget-buddy/budget-buddy-ui/Tracking.png">
                         </div>   
    
                         <h3>System Features</h3>
                         <div class="image-div">
                            <img style="border: 3px; border-style: solid; border-color: black;" src="assets/budget-buddy/budget-buddy-ui/features.png">
                        </div>
                         <p>The following features were deemed most essential to the application, 
                             and were the foundation of the backlog and work units while constructing the prototype.
                            <br><br>
                            Prioritization of the work units helped the team stay on track and ensure that the core reqirements of the app were satisfied.
                            <br><br>
                            All reqirements were satisfied during the development process, except for mobile notifications, which were added to the backlog for future implementation.
                        </p>
                        <br>
                         
                    
                </div>
                </div>
            </div>
            <div class="full-width">
                <div class="section-title">
                    <h1>RESULTS</h1>
                </div>

                <div class="right-image">
                    <div class="text">
                        <p>
                        Following 8 Scrum Sprints in the Agile development process, we successfully build a working prototype of Budget Buddy.
                        <br>
                        <br>
                        I acted as the team's primary frontend developer, working to implement the user interface in Angular. I set up the basic 
                        structure of the site, then moved on to create interactive components. These were either developed specifically for the project, 
                        or modified from the <a href="https://www.primefaces.org/primeng/">Prime NG</a> component library.
                        <br>
                        <h3>UI Considerations</h3>
                       <p>Notably, during Sprints 7 and 8, I focused primarily on cleaning up the existing UI. After receiving feedback from peers and advisors, as well as my own assessment of the current state of the project, 
                        I compiled a list of necessary UI updates that would improve the overall user experience, and help the app function overall.
                        <br><br>
                        Some of these changes included removing unnecessary or repetitive widgets, making data visualizations cleaner and more informative, establishing a consistent design system throughout the application, and 
                        condensing forms to reduce the time the user spends initalizing their budget.
                    </p>
                    <br>
                    <br>
                </div>
                </div>
            </div>
            <div class="full-width darker">
                    <div class="section-title">
                            <h1>DEMO</h1>
                    </div>
                    <div class="right-image">
                        <div class="text">
                            <p>
                                Below is the summary and demo video created by my team for our prototype presentation. 
                                <br>
                                Skip to TIME to see the product demo, or watch the entire video for the project overview.
                            </p>
                            <br>
                            <div class="image-div" style="text-align: center;">
                                <iframe width="672" height="378" src="https://www.youtube.com/embed/f1KZXSm30nk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            
                            <button class="button-large" style="width: 80%; margin-right: 1%" onclick=" window.open('https://budget-buddy-app1.herokuapp.com/login-page','_blank')">
                                <h2>Visit Budget Buddy</h2>
                            </button>
                            <button class="button-secondary-large" style="width: 80%" onclick=" window.open('https://github.com/crescsanski/Budget-Buddy','_blank')">
                                <h2>View on GitHub</h2>
                            </button>
                        </div>
                    </div>
            </div>

                    
            
    
    </div>
</div>

